@page
@model Sports_Management_System.Pages.Dashboards.SystemAdminDashboard.IndexModel
@{
}

<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="~/css/sysAdmin.css"/>
    </head>

    <body>
        <div>
            <h1>Welcome Admin</h1>
        </div>
        <div>
            <button class="btn">View</button>
            <div class="dropdown">
                <button class="btn" style="border-left:1px solid navy">
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="ClubsList">Clubs</a>
                    <a href="StadiumsList">Stadiums</a>
                    <a href="FansList">Fans</a>
                </div>
            </div>
        </div>
    </body>
</html>

    
