@page
@model Sports_Management_System.Pages.authentication.ChooseRegistrationModel
@{
}
<html>
<head>
    <link rel="stylesheet" href="~/css/choose-reg.css">
</head>
<body>
    <div class="box-1">
        <div class="btn btn-one">
            <span><a asp-page="SportsAssManReg">Register As Association Manager</a></span>
        </div>
    </div>

    <!-- Hover #2 -->
    <div class="box-2">
        <div class="btn btn-two">
            <span><a asp-page="StadiumManagerReg">Register As Stadium Manager</a></span>
        </div>
    </div>

    <!-- Hover #3 -->
    <div class="box-3">
        <div class="btn btn-three">
            <span><a asp-page='ClubRepReg'>Register As Club Representative</a></span>
        </div>
    </div>
    <div class="box-4">
        <div class="btn btn-four">
            <span><a asp-page="FanRegistration" >Register As Fan</a></span>
        </div>
    </div>
</body>
</html>


