@page
@model Sports_Management_System.Pages.authentication.ChooseRegistrationModel
@{
}
<html>
<head>
    <link rel="stylesheet" href="~/css/choose-reg.css">
</head>
<body>
    <div class="box-1">
        <div class="btn btn-one">
            <span>Register As Association Manager</span>
        </div>
    </div>

    <!-- Hover #2 -->
    <div class="box-2">
        <div class="btn btn-two">
            <span>Register As Stadium Manager</span>
        </div>
    </div>

    <!-- Hover #3 -->
    <div class="box-3">
        <div class="btn btn-three">
            <span>Register As Club Representative</span>
        </div>
    </div>
    <div class="box-4">
        <div class="btn btn-four">
            <span>Register As Fan</span>
        </div>
    </div>
</body>
</html>


