@page
@model Sports_Management_System.Pages.Dashboards.ClubRepresentative.IndexModel
@{
    Layout = "~/Pages/Shared/_ClubRepLayout.cshtml";
}

<html>
<body>
    <div>
        <h1>Welcome Representative</h1>
    </div>
</body>
</html>
