@page
@model Sports_Management_System.Pages.Dashboards.SystemAdmin.IndexModel
@{
    Layout = "~/Pages/Shared/_SysAdminLayout.cshtml";
}

<html>
    <body>
        <div>
            <h1>Welcome Admin</h1>
        </div>
    </body>
   </html>

    
