@page
@model Sports_Management_System.Pages.Dashboards.AssociationManager.IndexModel
@{
    Layout = "~/Pages/Shared/_AssocManagerLayout.cshtml";
}
<div class="dash-content">
    <div class="overview">
        <div class="title">
            <i class="uil uil-tachometer-fast-alt"></i>
            <span class="text">Dashboard</span>
        </div>

        <div class="boxes">
            <div class="box box1">
                <i style="margin-right: 5px;"><img src="~/lib/images/club.png"></i>
                <span class="text">Created Matches</span>
                <span class="number">@Model.MatchesCreatedCount</span>
            </div>
            <div class="box box2">
                <i style="margin-right: 5px;"><img src="~/lib/images/stadium.png"></i>
                <span class="text">Already Played Matches</span>
                <span class="number">@Model.AlreadyPlayedMatchesCount</span>
            </div>
            <div class="box box3">
                <i style="margin-right: 5px;"><img src="~/lib/images/fan.png"></i>
                <span class="text">Upcoming Matches</span>
                <span class="number">@Model.UpcomingMatchesCount</span>
            </div>
        </div>
    </div>
</div>

