@page
@model Sports_Management_System.Pages.Dashboards.Fan.IndexModel
@{
    Layout = "~/Pages/Shared/_FanLayout.cshtml";
}

<html>
<body>
    <div>
        <h1>Welcome Fan</h1>
    </div>
</body>
</html>

