@page
@model Sports_Management_System.Pages.Dashboards.AssociationManager.MatchList.AlreadyPlayedMatchesModel
@{
        Layout = "~/Pages/Shared/_AssocManagerLayout.cshtml";
}
<br />

<div class="container row p-0 m-0">
    <div class="col-9">
        <h2 class="text-info">Already Played Matches</h2>
    </div>
    <br />
    <br />
    <br />
    <div class="col-12 border p-3">
        <table id="MatchesTable" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>Host Club</th>
                    <th>Guest Club</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Scripts{
    <script src="~/js/associationManager/alreadyPlayedMatches.js"></script>
}