@page
@model Sports_Management_System.Pages.Dashboards.AssociationManager.MatchList.EditModel
@{
    Layout = "~/Pages/Shared/_AssocManagerLayout.cshtml";

}
<br />

<h2 class="text-info">Update Match</h2>
<br />

<div class="border container" style="padding:30px;">
    <form method="post">
        <input asp-for="PreviousMatchId" name="id" type="hidden" />
        <div class="text-danger" asp-validation-summary="ModelOnly"> </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Match.HostClub"></label>
            </div>
            <div class="col-6">
                <input asp-for="Match.HostClub" name="hostClub" class="form-control" />
            </div>
        </div>

        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Match.GuestClub"></label>
            </div>
            <div class="col-6">
                <input asp-for= "Match.GuestClub" name="guestClub" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Match.StartTime"></label>
            </div>
            <div class="col-6">
                <input asp-for="Match.StartTime" name="startTime" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Match.EndTime"></label>
            </div>
            <div class="col-6">
                <input asp-for="Match.EndTime" name="endTime" class="form-control" />
            </div>
        </div>
        <br />
        <p style="color:red"> @Model.ErrorMessage</p>
        <br />
        <br />
        <div class="form-group row">
            <div class="col-3 offset-2">
                <input type="submit" value="Update" class="btn btn-primary form-control" />
            </div>
            <div class="col-3">
                <a asp-page="Index" class="btn btn-success form-control">Back To List</a>
            </div>
        </div>
    </form>
</div>