@page
@model Sports_Management_System.Pages.Auth.FanRegistrationModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up Form by Colorlib</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="~/css/FanReg.css">
</head>
<body>

    <div class="main">

        <!-- Sign up form -->
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">Sign up</h2>
                        <form method="POST" class="register-form" id="register-form">
                            <div class="form-group">
                                <label asp-for="registeringFan.Name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input asp-for="registeringFan.Name" id="name" placeholder="Your Name" />
                            </div>
                            <div class="form-group">
                                <label asp-for="registeringFan.Username"><i class="zmdi zmdi-email"></i></label>
                                <input asp-for="registeringFan.Username" id="email" placeholder="Your Username" />
                            </div>
                            <div class="form-group">
                                <label asp-for="registeringFan.NationalId"><i class="zmdi zmdi-card-membership"></i></label>
                                <input asp-for="registeringFan.NationalId" id="National_ID" placeholder="Your National ID" />
                            </div>
                            <div class="form-group">
                                <label asp-for="registeringFan.Phone"><i class="zmdi zmdi-phone"></i></label>
                                <input asp-for="registeringFan.Phone" id="Phone_Number" placeholder="Your Phone Number" />
                            </div>
                            <div class="form-group">
                                <label asp-for="registeringFan.Birthdate"><i class="zmdi zmdi-calendar"></i></label>
                                <input asp-for="registeringFan.Birthdate" id="BOD" placeholder="Your Birth Date" />
                            </div>
                            <div class="form-group">
                                <label asp-for="registeringFan.Address"><i class="zmdi zmdi-home"></i></label>
                                <input asp-for="registeringFan.Address" id="Address" placeholder="Your Address" />
                            </div>
                            <div class="form-group">
                                <label asp-for="registeringFan.Password"><i class="zmdi zmdi-lock"></i></label>
                                <input asp-for="registeringFan.Password" type="password" id="pass" placeholder="Password" />
                            </div>
                            <div class="form-group">
                                <label asp-for="registeringFan.ConfirmPassword"><i class="zmdi zmdi-lock-outline"></i></label>
                                <input asp-for="registeringFan.ConfirmPassword" type="password" id="re_pass" placeholder="Repeat your password" />
                                @if (Model.errorMessage.Equals("Passwords must match"))
                                {
                                    <br />
                                    <h6 style="color:red"> @Model.errorMessage</h6>
                                }
                            </div>
                            <div class="form-group">
                                <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                                <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>
                            </div>
                            <div class="form-group form-button">
                                <input type="submit" name="signup" id="signup" class="form-submit" value="Register" />
                                @if (Model.errorMessage.Equals("Already registered"))
                                {
                                    <br />
                                    <h6 style="color:red"> @Model.errorMessage</h6>
                                }
                            </div>
                            <br />
                                                       <p style="color:red"> @Model.errorMessage</p>
                        </form>
                    </div>
                    <div class="signup-image">
                        <img src="~/lib/images/bg-01.jpg" />
                        <a href="Login" class="signup-image-link">I am already member</a>
                    </div>
                </div>
            </div>
        </section>


    </div>

    <!-- JS -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="js/main.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>