@page
@model Sports_Management_System.Pages.Dashboards.StadiumManager.IndexModel
@{
    Layout = "~/Pages/Shared/_StadiumManagerLayout.cshtml";
}

<html>
<body>
    <div>
        <h1>Welcome Manager</h1>
    </div>
</body>
</html>
