body, html {
    width: 680px;
    background: #fff;
    border-radius: 10px;
    position: relative;
    background-image: url(../lib/images/mainImage.jpg);
    color: white;
    font-weight: 900;
}

