@page
@model IndexModel
@{
    Layout = "~/Pages/Shared/_StartLayout.cshtml";
}
<link rel="stylesheet" href="~/css/start.css"/>
<body>
    <br />
    <br />
    <br />
    <br />
    <div style="margin-left: 20px; font-family: 'Open Sans Condensed', sans-serif;font-size: xx-large;">
        <h1>Sports Management System</h1>
    </div>
</body>
