@page
@model IndexModel
@{
    Layout = "~/Pages/Shared/_StartLayout.cshtml";
}
<link rel="stylesheet" href="~/css/start.css"/>
<body>
    <br />
    <br />
    <br />
    <br />
    <div>
        <h1>Sports Management System</h1>
    </div>
</body>
