@page
@model Sports_Management_System.Pages.Dashboards.ClubRepresentative.StadiumsList.IndexModel
@{
    Layout = "~/Pages/Shared/_ClubRepLayout.cshtml";

}
<div class="container row p-0 m-0">
    <div class="col-9">
        <h2 class="text-info">Available Stadiums</h2>
    </div>

    <div class="col-12 border p-3 mt-3">
        <form method="post">
            @if (Model.Names.Count() > 0)
            {
                <table class="table table-striped border">
                    <tr class="table table-secondary">
                        <th>
                            <label value="Name">Name</label>
                        </th>
                        <th>
                            <label value="Location">Location</label>
                        </th>
                        <th>
                            <label value="Capacity">Capacity</label>
                        </th>
                    </tr>
                    @for (int i = 0; i < Model.Names.Count; i++)
                    {
                        var Name = Model.Names.ElementAt(i);
                        var Location = Model.Locations.ElementAt(i);
                        var Capacity = Model.Capacities.ElementAt(i);
                        <tr>
                            <td>
                                @Html.DisplayFor(m => Name)
                            </td>
                            <td>
                                @Html.DisplayFor(m => Location)
                            </td>
                            <td>
                                @Html.DisplayFor(m => Capacity)
                            </td>
                            <td>
                                @if(Model.getHostRequestStatus(Name) == null)
                                {
                                    <button asp-route-Stadium=@Name onclick="return confirm('Are you Sure you want to send this Request ?')" class="btn btn-danger btn-secondary">Send Request</button>
                                }
                                else if(Model.getHostRequestStatus(Name) == "unhandled")
                                {
                                    <button class="btn btn-info btn-secondary" disabled>Pending..</button>
                                }
                                else if(Model.getHostRequestStatus(Name) == "rejected")
                                {
                                    <button class="btn btn-danger btn-secondary" disabled>Rejected</button>
                                }
                                else
                                {
                                    <button class="btn btn-success btn-secondary" disabled>Accepted</button>
                                }
                            </td>
                        </tr>
                    }
                </table>
            }
            else
            {
                <h4>No Available Stadiums.</h4>
            }
        </form>
    </div>
</div>

@section Scripts{
    <script src="~/js/bookList.js"></script>
}